body{
    background-color: rgb(245, 245, 245);
    font-family: sans-serif;
}
.containere{
    margin: 10% 25%;
    padding: 3% 2%;
    width: 50%;
    background-color: white;
    border-radius: 1.5em;
}
.containere:hover{
    box-shadow: 0px 0px 10px rgba(3, 114, 250, 0.954);
}
h3{
    text-align: center;
    font-size: 1.5em;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.form-group{
    width: 96%;
    padding: 0%;
}
label,input{
    width: 100%;
    margin: 1%;
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"]{
    width: 25%;
    margin-left: 70%;
    padding: 1% 2%;
    background-color:#031427eb;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
      
      
}
input[type="submit"]:hover{
    background-color: rgba(3, 114, 250, 0.954);
}

